.bg {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.div-bar {
  background-color: black;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 10px;
  border-radius: 20px;
}

.button {
  padding: 8px 16px;
  margin: 0 5px;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
  border-radius: 20px;
  transition: background-color 0.3s ease;
}
.button:hover{
  scale:  1.1;
 
}

input[type="text"] {
  padding: 10px;
  border: none;
  border-radius: 20px;
  outline: none;
  font-size: 16px;
  
}

@media only screen and (max-width: 768px) {
  .div-bar button {
    font-size: 14px; /* Adjust font size for smaller screens */
    padding: 6px 12px; /* Reduce padding for better fit */
  }
}